@model List<Entidad.CE_Cliente>

<h2 class="blue-text">Clientes</h2>

<div class="col s4 left-align">
    <button data-target="modalCliente" class="btn modal-trigger blue">
        <i class="material-icons left">person_add</i> Nuevo Cliente
    </button>
</div>

@Html.Partial("_FilterCliente")

<div id="TablaClientes">
    <table class="highlight responsive-table">
        <thead class="blue white-text tableHead">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Documento</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th>Estado</th>
                <th>Fecha Registro</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="clientesBody" class="white black-text">
            @foreach (var cliente in Model)
            {
                <tr>
                    <td>@cliente.IdCliente</td>
                    <td>@cliente.Nombre</td>
                    <td>@cliente.Documento</td>
                    <td>@cliente.Correo</td>
                    <td>@cliente.Telefono</td>
                    <td>
                        @Html.Raw(cliente.Estado
                           ? "<span class='blue darken-1 white-text Bage'>Activo</span>"
                           : "<span class='red darken-4 white-text Bage'>Inactivo</span>")
                    </td>
                    <td>@cliente.FechaRegistro</td>
                    <td class="accionesTabla">
                        <!-- Botón Editar -->
                        <a href="#modalEditCliente" class="modal-trigger blue-text"
                           onclick="cargarCliente(@cliente.IdCliente)">
                            <i class="material-icons">border_color</i>
                        </a>
                        <!-- Botón Eliminar -->
                        @using (Html.BeginForm("Remove", "Cliente", FormMethod.Post))
                        {
                            @Html.Hidden("id", cliente.IdCliente)
                            <button type="submit" class="btn-flat red-text"
                                    onclick="return confirm(`Eliminar a @cliente.Nombre de la lista de clientes`);">
                                <i style="font-size:24px;" class="material-icons">delete_forever</i>
                            </button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@Html.Partial("_ModalRegisterClient")

<script>
    var URLSearchDocument = '@Url.Action("SelectClientDocument","Cliente")';
    var URLGetClientById = '@Url.Action("GetClientById","Cliente")';
</script>

<script src="@Url.Content("~/Scripts/JS/Clientes.js")"></script>

@Html.Partial("_ModalEditClient")
