<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>@ViewBag.Title - Gestor Financiero</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="nav-wrapper blue custom-flex">

        <h5 style="font-weight: 600">@Html.ActionLink("Gestor Financiero", "Index", "Home")</h5>
        <ul>
            <li class="items-Nav">
                <i class="material-icons">group</i>
                @Html.ActionLink("Clientes", "Clientes", "Cliente")
            </li>
            <li class="items-Nav">
                <i class="material-icons">account_balance_wallet</i>
                @Html.ActionLink("Cuentas", "", "")
            </li>
            <li class="items-Nav">
                <i class="material-icons">attach_money</i>
                @Html.ActionLink("Movimientos", "", "")
            </li>
            <li class="items-Nav">
                <i class="material-icons">swap_horiz</i>
                @Html.ActionLink("Transferencias", "", "")
            </li>
        </ul>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Gestor Financiero</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>