@model List<Entidad.CE_CuentaBancaria>

<h2 class="blue-text">Cuentas</h2>

<div class="col s4 left-align">
    <button data-target="modalAddAccount" class="btn modal-trigger blue">
        <i class="material-icons left">person_add</i> Nuevo Cuenta
    </button>
</div>

@Html.Partial("_FilterClientAccount")

<div id="TablaClientes">
    <table class="highlight responsive-table">
        <thead class="blue white-text tableHead">
            <tr>
                <th>ID Cuenta</th>
                <th>Propietario</th>
                <th>Tipo Cuenta</th>
                <th>NO Cuenta</th>
                <th>Saldo</th>
                <th>Estado</th>
                <th>Fecha Registro</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="clientesBody" class="white black-text">
            @foreach (var cuenta in Model)
            {
                <tr>
                    <td>@cuenta.IdCuenta</td>
                    <td>@cuenta.Propietario</td>
                    <td>@cuenta.TipoCuenta</td>
                    <td>@cuenta.NumeroCuenta</td>
                    <td>@cuenta.Saldo</td>
                    <td>
                        @Html.Raw(cuenta.Estado
                           ? "<span class='blue darken-1 white-text Bage'>Activo</span>"
                           : "<span class='red darken-4 white-text Bage'>Inactivo</span>")
                    </td>
                    <td>@cuenta.FechaRegistro.ToString("dd/MM/yyyy")</td>
                    <td class="accionesTabla">
                        <!-- Botón Editar -->
                        <a href="#modalEditCliente" class="modal-trigger blue-text"
                           onclick="">
                            <i class="material-icons">border_color</i>
                        </a>
                        <!-- Botón Eliminar -->
                        @using (Html.BeginForm("Remove", "Cliente", FormMethod.Post))
                        {
                            @Html.Hidden("id", cuenta.IdCliente)
                            <button type="submit" class="btn-flat red-text"
                                    onclick="">
                                <i style="font-size:24px;" class="material-icons">delete_forever</i>
                            </button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    var UrlSearchClient = '@Url.Action("SelectClientDocument", "Cuenta")';
</script>
<script src="~/Scripts/JS/Cuenta.js"></script>
<script src="~/Scripts/JS/genericjs/Alerts.js"></script>
<script src="~/Scripts/JS/genericjs/ResetModal.js"></script>
@Html.Partial("_ModalAddAccount")
